/**
eHealth styles 
*/

.eh-searchcontainer{
    padding-top:100px;
    padding-bottom:100px;
}
.eh-advanced-searchbar{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #EEE;
}
.eh-row-divide{
    border-top: 1px solid #EEE
}
.eh-form-group{
    width:400px;
}
.eh-footer{
    border-top: 1px solid #EEE;
    padding-top: 30px;
    position: relative;
    z-index: 10;
    background-origin: padding-box;
    background-size: auto auto;
}
.eh-score-result{
    float:right;
    font-size:12px;
}
.eh-delete-x{
    float:right
}
body{
    padding-top: 72px;
}
.grid-list {
    margin: 0 auto;
    text-align: left;
}
.grid-item {
    padding: 72px;
    display: inline-block;
    vertical-align: top;
}
.quote
{
    position: relative;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
    margin-top: 30px;

}
.circular1 {
    margin-left: 120px;
	width: 200px;
	height: 190px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/static/images/mary.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}
.circular2 {
    margin-left: 120px;
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	background: url(/static/images/brian.jpg) no-repeat;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	}
.h1 {
    margin-left: 200px;
    margin-bottom: 20px;
    margin-bottom: 40px;
}
.jumbo{
    background-color: transparent;

    }
