{% extends 'ehealth_project/base.html' %} {% block title %} Search {% endblock %} {% block body_block %}
    <h1 class="h1"> eHealth</h1>
    <div class="container">
        <div class="jumbotron jumbo">
            <p style="color:black">eHealth is a federated search self-diagnosis application that allows a user to search for conditions, symptoms and
            possible treatments, whith results from trusted government health databases and also from Bing.</p>
            <p style="color:black">The application has been designed as part of a group project for the Web Application Development course.</p>
        </div>
</div>
{% endblock %}