{% extends 'ehealth_project/base.html' %} {% block title %} Search {% endblock %} {% block body_block %}
    <h1 class="h1"> User experience:</h1>
    <div class="circular1">
    </div>
     <br>
    <blockquote class="blockquote-reverse quote">
        <p style="color:black">This application has helped me after I have been diagnosed, as I was able to connect with people suffering from
        the same condition and browse through their saved resources. I always check in to see if there are new treatments and
        suggestions I can find.</p>
        <footer>Mary, 62 </footer>
    </blockquote>
    <div class="circular2">
    </div>
    <blockquote class="blockquote-reverse quote">
    <p style="color:black">I love using this when I feel unwell, but it is nothing potentially serious. It saves you the time it would take to go
    to the doctor and it recommends some simple treatments for simple conditions.</p>
        <footer>Brian, 20 </footer>
    </blockquote>

{% endblock %}