{% extends 'ehealth_project/base.html' %}
{% load staticfiles %}
{% block title %} Create Your Account {% endblock %}
{% block body_block %}

	<button type="button" onClick="window.location='/login/">Login</button> 
	<button type="button" onClick="window.location='/register/">Register</button> 
	{%if registered%}
	<strong>Thank you for registering</strong>
	<a href="/ehealth/">Return</a><br />
	{%else%}
	<p>
	<p style="text-align: right;">
	Account benefits: Save pages & more!
	</p>
    {% endif %}
	<p>
	<strong>Create Your Account</strong><br />
	<form id="user_form" method="post" action="/ehealth/register/" enctype="multipart/form-data">
	{% csrf_token %}
    {{ user_form.as_p }}
	<input type="submit" name="submit" value="Submit" />
    </form>
	
			
{% endblock %}		
		

	





