{% extends 'ehealth_project/base.html' %}
{% load static %}
{% block title %} User Finder {%  endblock %}
{% block body_block %}

    <form id="user_finder_form" method="get" action="/ehealth/user_finder/"></form>

    <h1> Users: </h1>
    {% if users %}
        <ul>
            {% for userprof in users %}
                {% if not userprof.user.is_superuser %}
                <li>
                    {{ userprof }}
                    <img href="{% static 'images/blank.jpg' %}" alt="Profile pic">
                </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% else %}
            <strong>No users.</strong>
    {% endif %}
{% endblock %}