{% extends 'ehealth_project/base.html' %}
{% block title %}User Profile - {{ user_prof }}{% endblock %}
{% block body_block %}
    <div class="img-with-text">
        <img src="{{ user_prof.pic }}" >
        <p>{{ user_prof }} <br/> {{ user_prof.email }}</p>
    </div>

    <form method="post" id="new_folder_form" action="{% url 'user_profile' user_prof %}">
        {% csrf_token %}
        <label for="folder_name_txt"> New Folder Name: </label>
        <input type="text" name="new_folder_name" id="folder_name_txt" placeholder="Folder Name">
        <input type="submit" value="New Folder" name="new_folder_btn">
    </form>

    {% if current_users_profile %}
    {% endif %}

    {% if users_public_folders %}
        <div class="folder_dir">
        <ul>
           {% for upf in users_public_folders %}
                <li><a href="{% url 'user_profile' user_prof upf %}">{{ upf }}</a>
                {% if current_users_profile %}
                    <!-- Need the privacy button here -->
                {% endif %}</li>
           {% endfor %}
        </ul>
        </div>
        <div class="page_display">
            {% if current_folder %}
                <div class="panel-heading">
                    <h3 class="panel-title">{{ current_folder }} > Pages</h3>
                    <!-- Display folder pages in an ordered list -->
                    <div class="panel-body">
                        <div class="list-group">
                            {% for p in current_pages %}
                                <div class="list-group-item">
                                <h4 class="list-group-item-heading"><a href="{{ p.url }}">{{ p }}</a>
                                    <a href="#" data-placement="left" data-html="true" data-toggle="tooltip" title="Readability: 100<br/>Subjectivity: 100<br/>Sentimentality: 100" class="label label-default eh-score-result">Score: 100</a>
                                    {% if current_users_profile %}<p>(Save Button)</p>{% endif %}
                                </h4>
                                <p class="list-group-item-text">{{ p.summary }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% else %}
                    <h3>No Folders to display</h3>
        </div>
        {% endif %}
    {% endif %}
{% endblock %}
